@model PetBlog.Models.Species
@{

}

<h2>Add Pet</h2>

<div>
    <form asp-controller="Species" asp-action="Add" method="post">
        <div>
            <label>Species Name</label>
            <input asp-for="SpeciesName" />
        </div>
        <div>
            <label>Species Type</label>
            <input asp-for="SpeciesType" />
        </div>
        <div>
            <label>Species Gender</label>
            <input asp-for="SpeciesGender" />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>