@model PetBlog.Models.Pet
@{

}

<h2>Add Pet</h2>

<div>
    <form action="/Pet/Add" method="post">
        <div>
            <label>Pet Name</label>
            <input name="PetName" />
        </div>
        <div>
            <label>Pet Type</label>
            <input name="PetType" />
        </div>
        <div>
            <label>Pet Size</label>
            <input name="PetSize" />
        </div>
        <div>
            <label>Pet DOB</label>
            <input name="PetDOB" />
        </div>
        <div>
            <label>Pet Picture</label>
            <input type="file" name="ImgType" />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>