@model PetBlog.Models.Pet
@{

}

<h2>Edit Pet</h2>

<div>
    <form asp-controller="Home" asp-action="Edit" method="post">
        <div>
            <label>Pet Name</label>
            <input asp-for="PetName" />
        </div>
        <div>
            <label>Pet Type</label>
            <input asp-for="PetType" />
        </div>
        <div>
            <label>Pet Size</label>
            <input asp-for="PetSize" />
        </div>
        <div>
            <label>Pet DOB</label>
            <input asp-for="PetDOB" />
        </div>
        <div>
            <input type="submit" value="Submit"/>
        </div>
    </form>
</div>


    