@model PetBlog.Models.Pet

@{
    ViewData["Title"] = "Edit";

}

<h2>Edit Pet</h2>

<div>
    <form action="/Pet/Edit" method="post">
        <div>
            <label>Pet Name</label>
            <input type="text" name="PetName" />
        </div>
        <div>
            <label>Pet Type</label>
            <input name="PetType" />
        </div>
        <div>
            <label>Pet Size</label>
            <input name="PetSize" />
        </div>
        <div>
            <label>Pet DOB</label>
            <input name="PetDOB" />
        </div>
        <div>
            <label>Pet Picture</label>
            <input type="file" name="ImgType" />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>
<div>
    <a href="Index">Back to List</a>
</div>

    